.container {
   width: 2.625rem;
   height: 1.5rem;
   border: 1.5px solid var(--main-color);
   border-radius: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2px;
   position: relative;
   cursor: pointer;
}

.icon {
   font-size: 0.75rem;
}

.ball {
   width: 0.9375rem;
   height: 0.9375rem;
   background-color: var(--main-color);
   border-radius: 50%;
   position: absolute;
}