.container {
   height: 3.125rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 0.9rem;
}

.social {
   display: flex;
   align-items: center;
   gap: 0.625rem;
}

.social_icon {
   width: 1rem;
   height: 1rem;
   opacity: .6;
   cursor: pointer;
}

.social_icon:hover {
   opacity: 1;
}